

body{
	font-family: 'Poppins', sans-serif;
	background: #fff;
}
  
h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
}
  
p {
	color: #555;
	font-size: 16px;
	font-weight: 400;
}
  
.navbar {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
  
.nav-scroll {
	background: #fff;
	-webkit-box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 23%);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.23);
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 23%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
  
.navbar .dropdown-menu {
	background: #fff;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}
  
.navbar .navbar-nav .dropdown-item:hover,
.main-color,
.progress-wrap::after,
.nav-scroll .navbar-collapse .active,
.light .navbar-collapse .active{
	color: #fc6729  !important;
}
  
.navbar .dropdown-menu .dropdown-item:after, 
.back-color,
.line,
  .cursor-inner,
  .pace .pace-progress{
	background: #c5a47e !important;
}

.cursor-outer,
.testimonials .arrows .next:hover, .testimonials .arrows .prev:hover{
      border-color: #c5a47e !important;
}
  
.main-content {
	background: #fff;
}
  
.color-font {
	color: #4694e6;
	-webkit-text-fill-color: #4694e6;
	background: none;
}
.color-font-ornge {
  color: #fc6729;
  -webkit-text-fill-color: #fc6729;
  background: none;
}
.color-gradient {
    background: -webkit-gradient(linear, left top, right top, from(#12c2e9), color-stop(#c471ed), to(#fc6729));
    background: -webkit-linear-gradient(left, #12c2e9, #c471ed, #fc6729);
    background: -o-linear-gradient(left, #12c2e9, #c471ed, #fc6729);
    background: linear-gradient(to right, #12c2e9, #c471ed, #fc6729);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.progress-wrap svg.progress-circle path{
      stroke: #c5a47e;
}
  
.sub-bg {
	background: #1f1f1f;
}
.header-bg {
    background: #0b2349;
}
.line {
	opacity: .1;
}
  
.testimonials .item {
	background: transparent;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
  
.testimonials .arrows .next, .testimonials .arrows .prev {
	border-color: rgba(0, 0, 0, 0.3);
	border-radius: 0;
}
  
.team .item.cir .img:after {
	display: none;
}

@media screen and (max-width: 991px){

  .navbar .navbar-collapse {
      max-height: 340px;
      overflow: auto;
      background: #262626;
      text-align: center;
      padding: 10px 15px;
  }

  .navbar .dropdown-menu{
    background: #232323;
  }

  .nav-scroll .navbar-collapse .active,
  .light .navbar-collapse .active,
  .navbar .navbar-nav .nav-link:hover{
    color: #c5a47e !important;
  }

}
